<div id="pages-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),url(<%= image_path 'desk3.jpg'%>)">
  <div id="banner-content">
    <div id="main-title-box">
      <h1>Création sites Web</h1>
    </div>
  </div>
</div>


<div class="white-wrap">
  <div class="container">
    <div class="bloc-text-img">
      <div class="img-part text-center">
        <%= image_tag "iconseo", alt: "alttext", width:300 %>
      </div>
      <div class="text-part">
        <h2 class="text-center">Super sous titre</h2>
        <p class="text-justify">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à l</p>
      </div>
    </div>
  </div>
</div>


<div class="div-cards">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="service-card">
          <%= image_tag "007-book", alt: "alttext", width:50 %>
          <h3>rapide</h3>
          <p>Vraiment très Vraiment très Vraiment très Vraiment très rapide</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="service-card">
          <%= image_tag "007-book", alt: "alttext", width:50 %>
          <h3>puissant</h3>
          <p>Vraiment très Vraiment très Vraiment très Vraiment très puissant</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="service-card">
          <%= image_tag "007-book", alt: "alttext", width:50 %>
          <h3>efficace</h3>
          <p>Vraiment très Vraiment très Vraiment très Vraiment très efficace</p>
        </div>
      </div>
    </div>
  </div>
</div>
