
<!-- Home-banner -->
<div id="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),url(<%= image_path 'desk3.jpg'%>)">
  <div id="banner-content">
    <h1 class="main-title"></h1>
    <p>Startup Lover</p>
  </div>

</div>
<!-- Home banner -->

<!-- Bloc Services -->
<div class="services-bloc" id="offres-bloc">
  <div class="container">
    <h2 class="text-center">Mes services</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="home-card text-center">
          <%= image_tag "youtube.jpg", alt: "#", width: 250 %>
          <h4>Référencement YouTube</h4>
          <p>Comment améliorer son ranking sur YouTube ? Les réponses ici</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-card text-center">
          <%= image_tag "amazon.jpg", alt: "#", width: 250 %>
          <h4>Référencement Amazon</h4>
          <p>Faites apparaitre vos annonces tout en haut des résultats Amazon !</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-card text-center">
          <%= image_tag "seo.jpg", alt: "#", width: 250 %>
          <h4>Référencement naturel</h4>
          <p>Amenez votre site Web à la première page de Google !</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-card text-center">
          <%= image_tag "creawebsite.jpg", alt: "#", width: 250 %>
          <h4>Création de sites Web</h4>
          <p>Création de sites vitrines et E-Commerce adaptés à vos besoins</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-card text-center">
          <%= image_tag "googleads.jpg", alt: "#", width: 250 %>
          <h4>Référencement payant</h4>
          <p>Campagnes Google Adwords et Facebook Ads pour booster votre traffic et augmenter vos venters !</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-card text-center">
          <%= image_tag "socialmedia.jpg", alt: "#", width: 250 %>
          <h4>Audit Social Media</h4>
          <p>Reprenez en main vos réseaux sociaux !</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bloc Services -->



<!-- Presentation -->
<div class="presentation-bloc">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <div id="presentation" class="text-center">
          <h2>Présentation</h2>
          <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Presentation -->


<!-- Réalisations -->
<div class="realisations-bloc">
  <div class="container">
    <h2 class="text-center">Mes réalisations</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="videos-home text-center">
          <iframe width="420" height="300" src="https://www.youtube.com/embed/1WUsX5ndGp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="videos-home text-center">
          <iframe width="420" height="300" src="https://www.youtube.com/embed/1WUsX5ndGp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Réalisations -->



<!-- Technos utilisées -->
<div class="techno-bloc">
  <div class="container">
    <h2 class="text-center">Outils utilisés sur ce site</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="techno text-center">
          <%= image_tag "bootstrap.png", alt: "#", width: 180 %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="techno text-center">
          <%= image_tag "html.png", alt: "#", width: 100 %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="techno text-center">
          <%= image_tag "css.png", alt: "#", width: 100 %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="techno text-center">
          <%= image_tag "js.png", alt: "#", width: 100 %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
</div>

<!-- Technos utilisées -->


