
<!-- Home-banner -->
<div id="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),url(<%= image_path 'desk3.jpg'%>)">
  <div id="banner-content">
    <h1 class="main-title"></h1>
    <p>Startup Lover</p>
  </div>

</div>
<!-- Home banner -->

<!-- Bloc Services -->
<div class="services-bloc" id="offres-bloc">
  <div class="container">
    <h2 class="text-center">Mes services</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="home-card">
            <div class="card-up" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(<%= image_path 'youtube.jpg'%>);">

                <h4>Référencement YouTube</h4>

            </div>
            <div class="card-down text-center">
                <p>Comment améliorer son ranking sur YouTube ? Les réponses ici</p>
                <a href="#" class="btn btn-danger">En savoir plus</a>

            </div>


        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-card" >
            <div class="card-up" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(<%= image_path 'amazon.jpg'%>);">

                <h4>Référencement Amazon</h4>

            </div>
            <div class="card-down text-center">
                <p>Comment améliorer son ranking sur Amazon ? Les réponses ici</p>
                <a href="#" class="btn btn-danger">En savoir plus</a>

            </div>


        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-card" >
            <div class="card-up" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(<%= image_path 'seo.jpg'%>);">

                <h4>Référencement naturel</h4>

            </div>
            <div class="card-down text-center">
                <p>Votre site en première page de Google</p>
                <a href="#" class="btn btn-danger">En savoir plus</a>

            </div>


        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-card" >
            <div class="card-up" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(<%= image_path 'creawebsite.jpg'%>);">

                <h4>Création de sites Web</h4>

            </div>
            <div class="card-down text-center">
                <p>Création de sites vitrines et e-commerce selon vos besoins</p>
                <a href="#" class="btn btn-danger">En savoir plus</a>

            </div>


        </div>
      </div>

    </div>
  </div>
</div>
<!-- Bloc Services -->



<!-- Presentation -->
<div class="presentation-bloc">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <div id="presentation" class="text-center">
          <h2>Présentation</h2>
          <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Presentation -->


<!-- Réalisations -->
<div class="realisations-bloc">
  <div class="container">
    <h2 class="text-center">Mes réalisations</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="videos-home text-center">
          <iframe width="420" height="300" src="https://www.youtube.com/embed/1WUsX5ndGp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="videos-home text-center">
          <iframe width="420" height="300" src="https://www.youtube.com/embed/1WUsX5ndGp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Réalisations -->



<!-- Technos utilisées -->
<div class="techno-bloc">
  <div class="container">
    <h2 class="text-center">Outils utilisés sur ce site</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="techno text-center">
          <%= image_tag "bootstrap.png", alt: "#", width: 180 %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="techno text-center">
          <%= image_tag "html.png", alt: "#", width: 100 %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="techno text-center">
          <%= image_tag "css.png", alt: "#", width: 100 %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="techno text-center">
          <%= image_tag "js.png", alt: "#", width: 100 %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
</div>

<!-- Technos utilisées -->


